__pycache__/
*.py[cod]
*.egg-info/
.idea/
.vscode/
.pytest_cache/
.coverage
.conda/
.env

runs/*
!runs/.gitkeep
logs/*
!logs/.gitkeep
model_store/qwen3.5-4b/*
!model_store/qwen3.5-4b/.gitkeep
model_store/sam2/*
!model_store/sam2/.gitkeep
model_store/grounding-dino-tiny/*
!model_store/grounding-dino-tiny/.gitkeep
model_store/temporal/*
!model_store/temporal/.gitkeep
data/input/videos/*
!data/input/videos/.gitkeep
